
			[data-rs-theme="twitter-light"], [data-rs-theme="twitter-dark"] {
					--rs-color-foreground-neutral: #ffffff;
--rs-font-size-display-41: 30px;
--rs-line-height-display-41: 20px;
--rs-font-family-display-41: var(--rs-font-family-body);
--rs-font-weight-display-41: var(--rs-font-weight-regular);
--rs-font-size-display-41-m: 30px;
--rs-line-height-display-41-m: 20px;
--rs-font-family-display-41-m: var(--rs-font-family-body);
--rs-font-weight-display-41-m: var(--rs-font-weight-regular);
--rs-font-size-display-41-l: 30px;
--rs-line-height-display-41-l: 20px;
--rs-font-family-display-41-l: var(--rs-font-family-body);
--rs-font-weight-display-41-l: var(--rs-font-weight-regular);
--rs-font-size-display-41-xl: 30px;
--rs-line-height-display-41-xl: 20px;
--rs-font-family-display-41-xl: var(--rs-font-family-body);
--rs-font-weight-display-41-xl: var(--rs-font-weight-regular);
			}
		
			[data-rs-theme="twitter-light"] {
					
			}
		
			[data-rs-theme="twitter-dark"] {
					
			}
		